<!DOCTYPE html>
<html>
<head>
	<title>Chaeeun's Resume</title>
</head>
<style>
h1 {
background-color: purple;
color: white;
}
</style>
<body>
<style>
div h1 {
width:60%;
text-align: center;
}
</style>
	<div id = "resume">   
    	<h1> Chaeeun Lee </h1>
        	<style>
       		 div {
       		 column-count:2;
             column-width: 250px;
        		}
        	</style>
            <div id = "first">
             <style>
            img {
            width: 20%;
            height: auto;
            }
            </style>
            	<img src="ChaeeunLee_picture.jpg" alt="pictureofchaeeunlee" width="100px" 
            	height="100px">
                <h3>My goal is to improve ability to manage the team remotely, 
                by establishing set communication guidelines.</h3>
    </div>
    <div id = "sec">
        <ol>
        	<style>
            h3 { font-size: 20px;}
            h3 { color: darkblue;}
            h3 { text-align: left;}
            h3 { text-decoration: underline;}
            </style>
        	<li><h3> Chubb Marketing Intern </h3></li>
            <style>
            li.italic {font-style: italic;}
            </style>
            <li class = "italic"> Targeted  both offline and online customers by altering 
            a multi-faceted and comprehensive marketing strategy. </li>
            <style>
            li.uppercase {text-transform: uppercase;}
            </style>
            <li class = "uppercase"> Responsiblities:</li>
        		<ul>
            		<li> Designed customer surveys and focused group interviews of 5-6 
            		people for four times, collected data, and analyzed data to find 
            		customers needs for new products.</li>
            		<li> Developed innovative social media marketing campaigns to 
            		successfully target clients.</li>
            	</ul>
		</ol>
		
		<ol>
			<li><h3> Hyundai Motors Marketing Intern </h3></li>
			<style>
            li.italic {font-style: italic;}
            </style>
            <li class = "italic"> Analysis Hyundai's image towards customers </li>
			<style>
            li.uppercase {text-transform: uppercase;}
            </style>
            <li class = "uppercase"> Responsiblities:</li>
				<ul>
					<li> Arranged in Marketing Department and searched for related 
					information about images of Hyundai on the Internet. </li>
				 	<li> Reported positive and negative impressions of Hyundai and 
				 	people's ideas of Hyundai Motor Company. </li>
				</ul>
		</ol>

		<ol>
			<li><h3> PSE Teacher Assistant </h3></li>
			<style>
            li.italic {font-style: italic;}
            </style>
            <li class = "italic">  Improve students' SAT and TOEFL scores </li>
			<style>
            li.uppercase {text-transform: uppercase;}
            </style>
            <li class = "uppercase"> Responsiblities:</li>				<ul>
					<li> Engaged one-on-one with students with analyzed student’s SAT and 
					TOEFL scores in Excel spreadsheets every week. </li>
					<li> Developed trust with students and aided students reaching better 
					scores, resulting in an improvement of more than 10% in their grades. 
					</li>
					<li> Worked under teacher’s direction to retain a efficient, clean, 
					and comfortable class. </li>
				</ul>
		</ol>

</body>
</html>